body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.contribution-graph {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Выравнивание вправо */
}

.contribution-row {
  display: flex;
}

.contribution-block {
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 50%;
}

.contribution-row:nth-child(7n+1) .contribution-block {
  background-color: #ebedf0; /* Нет контрибуций */
}

/* Задание стилей для различных уровней контрибуций */
.contribution-row:nth-child(7n+2) .contribution-block {
  background-color: #c6e48b; /* 1-9 контрибуций */
}

.contribution-row:nth-child(7n+3) .contribution-block {
  background-color: #7bc96f; /* 10-19 контрибуций */
}

.contribution-row:nth-child(7n+4) .contribution-block {
  background-color: #239a3b; /* 20-29 контрибуций */
}

.contribution-row:nth-child(7n+5) .contribution-block {
  background-color: #196127; /* 30+ контрибуций */
}
