body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contribution-map {
  display: flex;
  flex-direction: column;
}

.months-row {
  display: flex;
}

.month-cell {
  width: 100px;
  height: 30px;
  text-align: center;
  /* Задай здесь стили для ячейки месяца, такие как цвет фона, шрифт и т.д. */
}

.table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days-row {
  display: flex;
  justify-content: space-between;
}

.day-cell {
  width: 100px;
  height: 30px;
  text-align: center;
  /* Задай здесь стили для ячейки дня недели, такие как цвет фона, шрифт и т.д. */
}

.contribution-cell {
  width: 100px;
  height: 30px;
  /* Задай здесь стили для ячейки контрибуций, такие как цвет фона, шрифт и т.д. */
}
